<a href="https://colab.research.google.com/github/ONYEMAH-ALEXANDER/Google-colab/blob/main/Functions_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Define a function subtract_five that takes one argument num and returns num - 5.

In [9]:
def subtract_five(num):
    return num - 5
result = subtract_five(10)
print(f"The answer of the outcome is :", result)

The answer of the outcome is : 5

1. Create a function that adds 5 and 7 and prints the result

In [10]:
def add(a,b):
    return a + b

result = add(5,7)
print(result)

12

2. Write a function that takes one number and multiplies it by 2.

In [11]:
def multiply(a,b):
    return a * b

result = multiply(12,2)
print(result)

24

3. Make a function that prints the number 10 times 5.

In [12]:
def number(n):
    return n * 5

result = number(10)
print(f"The value of the result is : {result}")

The value of the result is : 50

4.Write a function that subtracts 8 from 20 and shows the answer.

In [13]:
def subtracts(n):
    return 20 - n

result = subtracts(8)
print(f"The value of the result is : {result}")

The value of the result is : 12

5. Create a function that takes two numbers and divides the first by the second.

In [14]:
def divison_of_two_numbers(a,b):
    return a / b

result = divison_of_two_numbers(56,2)
print(f"The value of the result is : {result}")

The value of the result is : 28.0

6. Make a function that prints the square of 6.

In [15]:
def square(num):
    return num ** 2


result = square(6)
print(f"The value of the result is : {result}")

The value of the result is : 36

7. Write a function that returns the sum of 1, 2, 3, and 4.

In [16]:
def add():
    numbers = [1, 2, 3, 4]  # Put numbers in a list
    total = sum(numbers)    # sum() works with lists
    return total

result = add()
print(result)

10

8.Create a function that finds the area of a square with side = 5

In [17]:
def area(length):
    return length * length

result = area(5)
print(result)

25

9. Make a function that returns if a number is bigger than 10.

In [18]:
def is_bigger_than_10(num):
    if num > 10:
        return True
    else:
        return False

bigger = is_bigger_than_10(2)
print(bigger)

False

10. Create a function that says “Hello” five times.

In [19]:
def say_hello():
    for _ in range(5):
        print("Hello")

say_hello()

Hello
Hello
Hello
Hello
Hello