<a href="https://colab.research.google.com/github/ONYEMAH-ALEXANDER/Google-colab/blob/main/Lex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Vehicle:
    def __init__(self,model,color):
        self.model = model
        self.color = color
my_vehicle = Vehicle("benz","red")
print(my_vehicle.model)
print(my_vehicle.color)

benz
red

# New Section

# New Section

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2019)
print(x.graduationyear)

2019

Create a set my_set containing the elements 1, 2, 3, 4, and 5, and then remove the element 3.

In [ ]:
my_set = {1,2,3,4,5}
my_set.remove(3)
print(my_set)

my_set = {1, 2, 3, 4, 5}
my_set.discard(3)
print(my_set)

{1, 2, 4, 5}
{1, 2, 4, 5}

Create a set my_set containing the elements 1, 2, 3, 4, and 5.

In [ ]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

Create a set my_set containing the elements 1, 2, 3, 4, and 5, and then add the element 6.

In [ ]:
my_set =  {1,2,3,4,5}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

Create a list of numbers numbers = [1, 2, 3, 4, 5] and access the first item.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers[0])

1

Access the item at index -1 of the list numbers = [1, 2, 3, 4, 5].

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers[-1])

5

Create a list of numbers numbers = [1, 2, 3, 4, 5] and access the first three items.

In [ ]:
numbers = [1, 2, 3, 4, 5]
number = numbers[0:3]
print(number)

[1, 2, 3]

# Given a dictionary person = {"name": "John"},
#  access and print the value of "name".

In [1]:
person = {"name":"John"}
print(person["name"])

John