<a href="https://colab.research.google.com/github/ONYEMAH-ALEXANDER/Google-colab/blob/main/Lex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Vehicle:
    def __init__(self,model,color):
        self.model = model
        self.color = color
my_vehicle = Vehicle("benz","red")
print(my_vehicle.model)
print(my_vehicle.color)

benz
red

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2019)
print(x.graduationyear)

2019

Create a set my_set containing the elements 1, 2, 3, 4, and 5, and then remove the element 3.

In [1]:
my_set = {1,2,3,4,5}
my_set.remove(3)
print(my_set)

my_set = {1, 2, 3, 4, 5}
my_set.discard(3)
print(my_set)

{1, 2, 4, 5}
{1, 2, 4, 5}

Create a set my_set containing the elements 1, 2, 3, 4, and 5.

In [2]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}