<a href="https://colab.research.google.com/github/ONYEMAH-ALEXANDER/Google-colab/blob/main/Lists_And_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a list of 5 numbers. Add them all together using a loop.

In [11]:
numbers = [1, 2, 3, 4, 5]
total_sum = 0
for number in numbers:
    total_sum = total_sum + number
print(total_sum)

15

2.Make a list of your favorite fruits. How can you print only the second fruit?

In [7]:
fruits = ["mango","Apple","Orange","Banana","Grape"]
print(fruits[1])

Apple

3.If you have a list of [2, 4, 6, 8], how do you change the first number to 10?

In [8]:
number = [2,4,6,8]
number[0] = 10
print(f"The Answer To The Question is: {number}")

The Answer To The Question is: [10, 4, 6, 8]

4. Add a new number to this list: [1, 2, 3]. What does the list look like now?

In [12]:
number = [1, 2, 3]
number.append(4)
print(number)

[1, 2, 3, 4]

5. Remove the last item from [3, 6, 9, 12] using Python.

In [13]:
number = [3, 6, 9, 12]
number.pop()
print(number)

[3, 6, 9]