<a href="https://colab.research.google.com/github/ONYEMAH-ALEXANDER/Google-colab/blob/main/PYTHON_OOP%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Create an object from the Rectangle class with width 10 and height 20.

In [ ]:
class Rectangle:
    def __init__(self,width,height):
        self.width = width
        self.height = height

my_rectangle = Rectangle(10,20)
print(my_rectangle.width)
print(my_rectangle.height)

10
20

2.Create a class BankAccount with a starting balance of 1000. Write a method to deposit 500 and check the new balance.

In [ ]:
class BankAccount:
    def __init__(self, balance=1000):
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount

    def get_balance(self):
        return self.balance

account = BankAccount()
print("Initial balance:", account.get_balance())

account.deposit(500)
print("New balance:", account.get_balance())

Initial balance: 1000
New balance: 1500

3â€¢ Create a class Employee with attributes for name, salary, and bonus. Write a method to calculate the total salary including the bonus.

In [ ]:
class Employee:
    def __init__(self, name, salary, bonus):
        self.name = name
        self.salary = salary
        self.bonus = bonus

    def total_salary(self):
        return self.salary + self.bonus

employee = Employee("Alex", 25000, 6000)
total = employee.total_salary()
print(f"Total salary for {employee.name}: {total}")

Total salary for Alex: 31000