<a href="https://colab.research.google.com/github/ONYEMAH-ALEXANDER/Google-colab/blob/main/Sets_And_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. You have a basket with apples: {1, 2, 2, 3}. How many unique apples are there?

In [1]:
apples = {1,2,2,3}
print(len(apples))

3


2. Make a set of numbers from 1 to 5 and add number 3 again. What happens?

In [2]:
numbers = {1,2,3,4,5}
numbers.add(3)
print(numbers)

{1, 2, 3, 4, 5}

3. Which operation gives you numbers that are in both {1, 2, 3} and {2, 3, 4}?

In [3]:
set1 = {1,2,3}
set2 = {2,3,4}
set3 = set1 & set2
print(f"The value of the set3 is : {set3}")

The value of the set3 is : {2, 3}

4. Can you add the number 5 to the set {1, 2, 3}? Show how.

In [4]:
set = {1,2,3}
set.add(5)
print(set)

{1, 2, 3, 5}

5. Remove the number 2 from the set {1, 2, 3, 4}. Whatâ€™s left?

In [6]:
set = {1,2,3,4}
set.remove(2)
print(f" The value of the set: {set}")

 The value of the set: {1, 3, 4}

6. Find the union (all unique numbers) of sets {4, 5, 6} and {6, 7, 8}.

In [8]:
set1 = {4, 5, 6}
set2 = {6, 7, 8}
set3 = set1 | set2
print(f" The value of the set: {set3}")
set3 = set1.union(set2)
print(f" The value of the set: {set3}")

 The value of the set: {4, 5, 6, 7, 8}
 The value of the set: {4, 5, 6, 7, 8}

7. Given sets of circle areas {3.14, 6.28} and square areas {4, 9}, find the intersection.

In [11]:
set1 = {3.14, 6.28}
set2 = {4, 9}
set3 = set1.intersection(set2)
print(f" The value of the set: {set3}")
set3 = set1 & set2
print(f" The value of the set: {set3}")

 The value of the set: set()
 The value of the set: set()

8. If you have a set of triangle side lengths {3, 4, 5}, check if 5 is in the set.

In [15]:
triangle_sides = {3, 4, 5}
if 5 in triangle_sides:
    print("Yes, 5 is in the set.")
else:
    print("No, 5 is not in the set.")

Yes, 5 is in the set.


9. Use set difference to find numbers in {1, 2, 3, 4} that are not in {2, 3}.

In [17]:
set1 = {1, 2, 3, 4}
set2 = {2, 3}
set3 = set1 - set2
print(f" The value of the set: {set3}")
set3 = set1.difference(set2)
print(f" The value of the set: {set3}")

 The value of the set: {1, 4}
 The value of the set: {1, 4}